*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    background-color: #70caa86b ;
}

.container-table{
    width: 100%;
    overflow-x: auto;
}



.user-table{
    width: 100%;
    vertical-align: middle;        
    tr{
        vertical-align: middle; 

    }
    th{
        font-size: 2rem;
        
    }
}
#table-body{
    vertical-align: middle;
    background-color: #54c7cf;
    text-align: center;
    font-size: 2rem;
    border: 10px solid black;
    border-radius: 15px 0px 15px;
}

.encabezado{
    color:#1f618d;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color:#a3e4d7;
    font-size: 4rem;
}
h2{
    font-size: 2rem;
    text-align: center;
}
.form-check-label{
    font-size: 50px;
}

button.btn{
    font-size: 30px;
    color: whitesmoke;
    background-color: #2471a3;
    border-radius: 5px 5px;
}

.products-image img{
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 50px;     
}
.barra-search{
    text-align: end;
    padding: 10px;
    background-color: rgb(75, 143, 198);

    .barra{
        font-size: 2.25rem;
    }
    .form-control{
        font-size: 2.25rem;
    }
}
.botones-ordenamiento{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content:start;
    gap: 30px;
    
}
.button-danger{
    color: red;
    font-size: 40px;
}
.button-edit{
    color: rgb(35, 110, 35);
    font-size: 40px;
}
.form-container{
    max-width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    background-color: #75e6c8;
    border: 3px solid black;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;

    .form-control{
        font-size: 2rem;
        border-radius: 5px 5px;

    }
}
.button-primary{
    font-size: 3rem;
    color: #2471a3;
    background-color: #bdcfc4 ;
    border-radius: 15px 0px 15px;

}
.submit{
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 30px;
    background-color: #1f618d;
}
